<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
      <add name="AuthConnectionString" connectionString="Server=10.8.1.163;Database=Ponant.Medical.Auth;User Id=Ponant_Medical;Password=Ponant_Medical" providerName="System.Data.SqlClient" />
      <add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.8.1.163;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=Ponant_Medical;password=Ponant_Medical;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <appSettings>
    <add key="ExpireTimeSpan" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Parametres des urls -->
    <add key="ReportServerUrl" value="http://localhost/Reportserver_SSRS_QM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>