<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d’informations sur la configuration de votre application ASP.NET, rendez-vous sur 
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--Localhost-->
    <add name="AuthConnectionString" connectionString="Server=localhost;Database=Ponant.Medical.Auth;User Id=;Password=" providerName="System.Data.SqlClient" />
    <add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=User_Ponant;password=User_Ponant;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MVCGridShowErrorDetail" value="true" />
    <!-- Paramètres de l'application -->
    <add key="AllowOnlyAlphanumericUserNames" value="false" />
    <add key="RequireUniqueEmail" value="false" />
    <add key="RequiredLength" value="8" />
    <add key="RequireNonLetterOrDigit" value="false" />
    <add key="RequireDigit" value="true" />
    <add key="RequireLowercase" value="true" />
    <add key="RequireUppercase" value="true" />
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="15" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="3" />
    <add key="ValidateInterval" value="30" />
    <add key="ExpireTimeSpan" value="60" />
    <add key="TwoFactorInterval" value="5" />
    <add key="TokenLifespan" value="30" />
    <!-- Paramètres des dossiers -->
    <add key="FolderMail" value="C:\MedicalApplication\MedicalFiles\Mails" />
    <add key="FolderMailIndividual" value="C:\MedicalApplication\MedicalFiles\Mails\IndividualMail" />
    <add key="FolderMailGroup" value="C:\MedicalApplication\MedicalFiles\Mails\GroupMail" />
    <add key="FolderSurveyIndividual" value="C:\MedicalApplication\MedicalFiles\Survey\IndividualSurvey" />
    <add key="FolderSurveyGroup" value="C:\MedicalApplication\MedicalFiles\Survey\GroupSurvey" />
    <add key="FolderTemp" value="C:\MedicalApplication\MedicalFiles\Temp" />
    <add key="FolderPassenger" value="C:\MedicalApplication\MedicalFiles\Documents\Passengers" />
    <add key="FolderAvailable" value="C:\MedicalApplication\MedicalFiles\Documents\Available" />
    <add key="FolderMailIndividualAutomaticResponse" value="C:\MedicalApplication\MedicalFiles\Mails\IndividualAutomaticResponse" />
    <add key="FolderMailGroupAutomaticResponse" value="C:\MedicalApplication\MedicalFiles\Mails\GroupAutomaticResponse" />
    <add key="FolderLogos" value="C:\MedicalApplication\MedicalFiles\Logos" />
    <add key="FolderVirtualLogo" value="/MedicalFilesLogos/" />
    <add key="FolderMailConfirmationReception" value="C:\MedicalApplication\MedicalFiles\Mails\ConfirmationReception" />
    <add key="FolderMailErrorSubmission" value="C:\MedicalApplication\MedicalFiles\Mails\ErrorSubmission" />
    <!-- Paramètres des mails -->
    <add key="AddressDebug" value="qm@medical.ponant.com" />
    <add key="AddressNoReply" value="noreply@medical.ponant.com" />
    <add key="AddressFrom" value="qm@medical.ponant.com" />
    <add key="AddressGroupTo" value="send@medical.ponant.com" />
    <add key="AddressBookingTo" value="qm@medical.ponant.com" />
    <add key="MailAccountPassword" value="AccountPassword.msg" />
    <add key="MailAccountUserName" value="AccountUserName.msg" />
    <add key="MailNewUserName" value="NewUserName.msg" />
    <add key="MailNotifyAdvice" value="NotifyAdvice.msg" />
    <add key="MailResetPassword" value="ResetPassword.msg" />
    <add key="MailSendCode" value="SendCode.msg" />
    <add key="MailSummaryMail" value="SummaryMail.msg" />
    <add key="MailUnfavorableAdvice" value="UnfavorableAdvice.msg" />
    <add key="MailAssignmentQm" value="CruiseAssignment\AssignmentQM.msg"/>
    <add key="MailDeadlineExceeded" value="CruiseAssignment\DeadlineExceeded.msg"/>
    <add key="GroupFrom" value="qm@medical.ponant.com" />
    <!-- Parametres des urls -->
    <add key="ReportServerUrl" value="http://localhost/ReportServer" />
    <add key="ReportPathQMStatistics" value="/Ponant.Medical/QMStatistics" />
    <add key="ReportPathQMTreatment" value="/Ponant.Medical/QMTreatment" />
    <add key="ReportPathPassengersGroupExport" value="/Ponant.Medical/PassengersGroupExport" />
    <!-- Tags des modèles -->
    <add key="TagTitle" value="[TITLE]" />
    <add key="TagUserName" value="[USERNAME]" />
    <add key="TagPassword" value="[PASSWORD]" />
    <add key="TagShip" value="[SHIP]" />
    <add key="TagShipCode" value="[SHIP_CODE]" />
    <add key="TagCruise" value="[CRUISE]" />
    <add key="TagCabin" value="[CABIN]" />
    <add key="TagBooking" value="[BOOKING]" />
    <add key="TagLastName" value="[LASTNAME]" />
    <add key="TagUsualName" value="[USUALNAME]" />
    <add key="TagFirstName" value="[FIRSTNAME]" />
    <add key="TagBirthDate" value="[BIRTHDATE]" />
    <add key="TagSailingDate" value="[SAILINGDATE]" />
    <add key="TagGroup" value="[GROUP]" />
    <add key="TagAdvice" value="[ADVICE]" />
    <add key="TagIdPassenger" value="[IDPASSENGER]" />
    <add key="TagTable" value="[TABLE]" />
    <add key="TagTableNoDocument" value="[TABLENODOCUMENT]" />
    <add key="TagTableDocument" value="[TABLEDOCUMENT]" />
    <add key="TagComments" value="[COMMENTS]" />
    <add key="TagDestination" value="[DESTINATION]" />
    <add key="TagDeadline" value="[DEADLINE]"/>
    <add key="TagQmNotValidated" value="[QMNOTVALIDATED]"/>
    <!-- paramètre de l'agence principale -->
    <add key="IdAgency" value="135" />
    <add key="AgencyName" value="PONANT" />
    <!-- Paramètres Web Services Reporting Services -->
    <add key="SsrsWsUrl" value="http://localhost/ReportServer/ReportExecution2005.asmx" />
    <add key="SsrsUserName" value="" />
    <add key="SsrsPassword" value="" />
    <add key="SsrsDomain" value="KEYRUSCORP" />
    <!--url du mail permettant d'afficher la page d'upload du passager-->
    <add key="TagUrl" value="[URL]" />
    <add key="UploadPassengerUrl" value="https://localhost:44379/Upload/index?Token=" />
  </appSettings>
  <system.web>
    <pages viewStateEncryptionMode="Always" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="9216" />
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
    <customErrors mode="Off" />
    <globalization culture="en" uiCulture="en" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <add name="MVCGridHandler" verb="*" path="MVCGridHandler.axd" type="MVCGrid.Web.MVCGridHandler, MVCGrid" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>