@model ReportViewer

@using Microsoft.Reporting.WebForms;
@using ReportViewerForMvc;

@{
    ViewBag.Title = "Qm Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="QmStatistics">
    <h2>Qm Statistics</h2>
    <hr/>
    @Html.ReportViewer(Model)
</div>