<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
	<connectionStrings>
		<!--Localhost-->
		<add name="AuthConnectionString" connectionString="Server=.;Integrated Security=True;Database=Ponant.Medical.Auth;User Id=sa;Password=modamomoBI02101994" providerName="System.Data.SqlClient" />
		<add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=sa;password=modamomoBI02101994;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>