<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <!--Localhost-->
    <add name="AuthConnectionString" connectionString="Server=localhost;Database=Ponant.Medical.Auth;User Id=User_Ponant;Password=User_Ponant" providerName="System.Data.SqlClient"/>
    <add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=User_Ponant;password=User_Ponant;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Paramétrage des délais -->
    <add key="FirstSummaryMail" value="15" />
    <add key="SecondSummaryMail" value="1" />
    <add key="SandBoxCleaningInterval" value="-3" />
    <add key="TimerHour" value="9" />
    <add key="NumberOfRetries" value="5" />
    <add key="DelayOnRetry" value="5000" />
    <!-- Paramétrage des dossiers -->
    <add key="FolderPonantBooking" value="C:\MedicalApplication\MedicalFiles\Booking\Ponant" />
    <add key="FolderPonantBookingError" value="C:\MedicalApplication\MedicalFiles\Booking\Ponant\Error" />
    <add key="FolderShoreBooking" value="C:\MedicalApplication\MedicalFiles\Booking\Shore" />
    <add key="FolderMail" value="C:\MedicalApplication\MedicalFiles\Mails" />
    <add key="FolderMailIndividual" value="C:\MedicalApplication\MedicalFiles\Mails\IndividualMail" />
    <add key="FolderMailIndividualRelaunch" value="C:\MedicalApplication\MedicalFiles\Mails\IndividualRelaunch" />
    <add key="FolderMailGroup" value="C:\MedicalApplication\MedicalFiles\Mails\GroupMail" />
    <add key="FolderMailGroupRelaunch" value="C:\MedicalApplication\MedicalFiles\Mails\GroupRelaunch" />
    <add key="FolderSurveyIndividual" value="C:\MedicalApplication\MedicalFiles\Survey\IndividualSurvey" />
    <add key="FolderSurveyGroup" value="C:\MedicalApplication\MedicalFiles\Survey\GroupSurvey" />
    <add key="FolderSandBox" value="C:\MedicalApplication\MedicalFiles\Documents\Available" />
    <add key="FolderPassenger" value="C:\MedicalApplication\MedicalFiles\Documents\Passengers" />
    <add key="FolderTemp" value="C:\MedicalApplication\MedicalFiles\Temp" />
    <add key="FolderMailIndividualAutomaticResponse" value="C:\MedicalApplication\MedicalFiles\Mails\IndividualAutomaticResponse" />
    <add key="FolderMailGroupAutomaticResponse" value="C:\MedicalApplication\MedicalFiles\Mails\GroupAutomaticResponse" />
    <!-- Paramètres des mails -->
    <add key="AddressDebug" value="qm@medical.ponant.com" />
    <add key="AddressFrom" value="qm@medical.ponant.com" />
    <add key="QmReceivedList" value="qm@medical.ponant.com" />
    <add key="AddressNoReply" value="noreply@ponant.com" />
    <add key="GroupFrom" value="qm@medical.ponant.com" />
    <add key="MailSummaryMail" value="SummaryMail.msg" />
    <add key="MailSendQmReceived" value="SendQmReceived.msg" />
    <add key="MailAssignmentQm" value="CruiseAssignment\AssignmentQM.msg"/>
    <add key="MailDeadlineExceeded" value="CruiseAssignment\DeadlineExceeded.msg"/>
    <add key="MailPassword" value="P0n@nt" />
    <add key="UserAccount" value="System" />
    <!-- Tags des modèles PDF -->
    <add key="TagTitle" value="[TITLE]" />
    <add key="TagUserName" value="[USERNAME]" />
    <add key="TagPassword" value="[PASSWORD]" />
    <add key="TagShip" value="[SHIP]" />
    <add key="TagShipCode" value="[SHIP_CODE]" />
    <add key="TagCruise" value="[CRUISE]" />
    <add key="TagCabin" value="[CABIN]" />
    <add key="TagBooking" value="[BOOKING]" />
    <add key="TagLastName" value="[LASTNAME]" />
    <add key="TagUsualName" value="[USUALNAME]" />
    <add key="TagFirstName" value="[FIRSTNAME]" />
    <add key="TagBirthDate" value="[BIRTHDATE]" />
    <add key="TagSailingDate" value="[SAILINGDATE]" />
    <add key="TagGroup" value="[GROUP]" />
    <add key="TagAdvice" value="[ADVICE]" />
    <add key="TagIdPassenger" value="[IDPASSENGER]" />
    <add key="TagTable" value="[TABLE]" />
    <add key="TagComments" value="[COMMENTS]" />
    <add key="TagDestination" value="[DESTINATION]" />
    <add key="TagDeadline" value="[DEADLINE]"/>
    <add key="TagQmNotValidated" value="[QMNOTVALIDATED]"/>
  </appSettings> 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
