<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AuthConnectionString" connectionString="Server=P5052306;Database=Ponant.Medical.Auth;User Id=User_Ponant;Password=User_Ponant" providerName="System.Data.SqlClient" />
    <add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P5052306;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=User_Ponant;password=User_Ponant;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    
    <!-- Paramétrage des dossiers -->
    <add key="FolderPonantBooking" value="D:\MedicalApplication\MedicalFiles\Booking\Ponant" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderPonantBookingError" value="D:\MedicalApplication\MedicalFiles\Booking\Ponant\Error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderShoreBooking" value="D:\MedicalApplication\MedicalFiles\Booking\Shore" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMail" value="D:\MedicalApplication\MedicalFiles\Mails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailIndividual" value="D:\MedicalApplication\MedicalFiles\Mails\IndividualMail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailIndividualRelaunch" value="D:\MedicalApplication\MedicalFiles\Mails\IndividualRelaunch" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailGroup" value="D:\MedicalApplication\MedicalFiles\Mails\GroupMail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailGroupRelaunch" value="D:\MedicalApplication\MedicalFiles\Mails\GroupRelaunch" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderSurveyIndividual" value="D:\MedicalApplication\MedicalFiles\Survey\IndividualSurvey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderSurveyGroup" value="D:\MedicalApplication\MedicalFiles\Survey\GroupSurvey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderSandBox" value="D:\MedicalApplication\MedicalFiles\Documents\Available" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderPassenger" value="D:\MedicalApplication\MedicalFiles\Documents\Passengers" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderTemp" value="D:\MedicalApplication\MedicalFiles\Temp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailIndividualAutomaticResponse" value="D:\MedicalApplication\MedicalFiles\Mails\IndividualAutomaticResponse" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderMailGroupAutomaticResponse" value="D:\MedicalApplication\MedicalFiles\Mails\GroupAutomaticResponse" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Paramètres des mails -->
    <add key="AddressDebug" value="qm@medical.ponant.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AddressFrom" value="qm@medical.ponant.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="QmReceivedList" value="qm@medical.ponant.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AddressNoReply" value="noreply@ponant.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GroupFrom" value="qm@medical.ponant.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailPassword" value="P0n@nt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>