@{
    ViewBag.Title = "Cruising criteria management";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (TempData["Message"] != null)
{
    <div id="successAlert" class="alert alert-success" role="alert">@TempData["Message"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorAlert" class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}
<button id="btnCriteriaCreate" type="button" class="btn btn-primary" onclick="create('/Criteria/_Create')">Add</button>
@Html.MVCGrid("Criteria")
<div id="frmCreate">
</div>
<div id="frmEdit">
</div>