@{
    ViewBag.Title = "Error";
}

<section id="intro">
    <img src="~/images/logo2.jpg" class="pull-right" />
    <p>The page you requested does not exist or is no longer accessible at this address.</p>
    <p>We apologize for the inconvenience and contact the IT department.</p>
    <a href="@Url.Action("Index", "Home")">Back to the homepage</a>
</section>