@{
    ViewBag.Title = "Error";
}

<section id="intro">
    <img src="~/images/logo2.jpg" class="pull-right" />
    <p>An error occurred in the application.</p>
    <p>We apologize for the inconvenience and try again later or contact the IT department.</p>
    <a href="@Url.Action("Index", "Home")">Back to the homepage</a>
</section>