@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked";
}

<section id="intro">
    <img src="~/images/logo2.jpg" class="pull-right" />
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">Your account has been locked due to several unsuccessful attempts, please try again later.</h2>
    <p>For further questions, please contact the IT department.</p>
</section>