<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="MailPassword" value="P0n@nt"/>
    <!-- Tags des modèles PDF -->
    <add key="TagTitle" value="[TITLE]"/>
    <add key="TagUserName" value="[USERNAME]"/>
    <add key="TagPassword" value="[PASSWORD]"/>
    <add key="TagShip" value="[SHIP]"/>
    <add key="TagCruise" value="[CRUISE]"/>
    <add key="TagCabin" value="[CABIN]"/>
    <add key="TagBooking" value="[BOOKING]"/>
    <add key="TagLastName" value="[LASTNAME]"/>
    <add key="TagUsualName" value="[USUALNAME]"/>
    <add key="TagFirstName" value="[FIRSTNAME]"/>
    <add key="TagBirthDate" value="[BIRTHDATE]"/>
    <add key="TagSailingDate" value="[SAILINGDATE]"/>
    <add key="TagGroup" value="[GROUP]"/>
    <add key="TagAdvice" value="[ADVICE]"/>
    <add key="TagIdPassenger" value="[IDPASSENGER]"/>
    <add key="TagComments" value="[COMMENTS]"/>
    <add key="TagDestination" value="[DESTINATION]"/>
    <!--url du mail permettant d'afficher la page d'upload du passager-->
    <add key="TagUrl" value="[URL]"/>
    <add key="UploadPassengerUrl" value="https://localhost:44379/Upload/index?Token="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
