<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AuthConnectionString" connectionString="Server=P5052306;Database=Ponant.Medical.Auth;User Id=User_Ponant;Password=User_Ponant" providerName="System.Data.SqlClient" />
    <add name="ShoreEntities" connectionString="metadata=res://*/Shore.Shore.csdl|res://*/Shore.Shore.ssdl|res://*/Shore.Shore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=P5052306;initial catalog=Ponant.Medical.Shore;persist security info=True;user id=User_Ponant;password=User_Ponant;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Paramètres des dossiers -->
    <add key="FolderMail" value="D:\MedicalApplication\MedicalFiles\Mails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderPassenger" value="D:\MedicalApplication\MedicalFiles\Documents\Passengers" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FolderSandBox" value="D:\MedicalApplication\MedicalFiles\Documents\Available" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>